<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.JTInsurance">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SampleInsuranceApp"
        tools:targetApi="m">
        <activity
            android:name="com.example.JTInsurance.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.example.JTInsurance.ForgotPwdActivity"
            android:exported="true">
        </activity>

        <activity
            android:name="com.example.JTInsurance.MainActivity"
            android:exported="true">

        </activity>

        <activity
            android:name="com.example.JTInsurance.TipsActivity"
            android:exported="true">
        </activity>

        <activity
            android:name="com.example.JTInsurance.HomePolicyActivity"
            android:exported="true">
        </activity>

        <activity
            android:name="com.example.JTInsurance.AutoPolicyActivity"
            android:exported="true">
        </activity>

        <activity
            android:name="com.example.JTInsurance.CustomerInfoActivity"
            android:exported="true">
        </activity>

        <activity
            android:name="com.example.JTInsurance.ContactUsActivity"
            android:exported="true">
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>



</manifest>